nav {

}		




		h1 {
			font-family: Georgia;
			text-align: center;
			clear: right;
			text-decoration-color: white;
		}

		img {margin-right: 20px;
			float: left;
		}

		p {
			margin-left: 20px;
			float: right;

		}
		div {
			margin-left: 0;
			margin-right: 0;
			float: right;
			padding: 0;
		}


		.floatleft {
					float: left;
					padding-left: 50px;
					margin: auto;
		}

		.floatright {
					font: -webkit-control;
					float: right;
					padding-bottom: 25px;
					padding-right: 200px;
					/*margin: auto;*/
		}
		.nametab{
				float: left;
				margin-right: 0;
				width: 300px;
				height: 30px;
				margin-left: 100px;
				background: #4aaaa5;
				padding: 25px;
				height: 30px;
				text-decoration-color: white;
				background: #4aaaa5;
		}

.navigation {
				font-family: Arial;
				text-decoration-color: #777777;
				padding: 25px 100px;
}

.content {
			border-top: 5px;
			border-color: #dddddd;
			background-image: url("greyzz_@2X.png");

}
